<header>
    <h1>Employee Portal Login:</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/add-product">Add product</a></li>
        </ul>
    </nav>
</header>