<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Portal</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
<div id="login">
    <form method="GET" action="/products">
        <label for="employeeId"><b>Employee ID</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
    
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>